<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
    <br /><h2 class="text-center">Change your Meme Creator Listing</h2><br />
    <div class="form"><%= image_tag "supermeme_creator_listing.png" %></div>

      <%= simple_form_for(@meme_creator_listing) do |f| %>
        <%= f.input :name %>
        <%= f.input :element, :collection => %w[Air Water Fire Electricity Earth] %>
        <%= f.input :description %>
        <%= f.input :meme_creator_listing_type, :collection => %w[Mental Flight Strength Transformation Transportation Darkness Healing Sorcery Otherworldly] %>
        <%= f.input :price %>
        <%= f.input :location, :collection => ["Metropolis", 'Gotham City', 'Atlantis', 'Wakanda', 'Symkaria', 'Star City', 'London'] %>
        <%= f.input :example_hero %>
        <div class="col text-center"><%= f.submit "Confirm!", class: "btn btn-danger" %></div>
      <% end %>
      </div>
  </div>
</div>
