<h1 class="text-center">Memes Creator</h1>
<h3 class ="text-center"> Memes for days, Memes for years...Let's get Memey!</h3>

<div class="main-banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= image_path "funny cat.jpg"%>')">
</div>
<div class="main-banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= image_path "meme listing image.jpg"%>')">
</div>
<div class="text-center">
  <% @meme_creator_listing.each do |meme_creator_listing| %>
    <div class="card-meme_creator_listing">
      <%= image_tag meme_creator_listing.photo %>
      <div class="card-infos">
        <div>
          <h2><%= meme_creator_listing.name %></h2>
          <p><%= meme_creator_listing.description %></p>
        </div>
        <div class="card-bottom">
          <h2><%= link_to "More info ", meme_creator_listing_path(meme_creator_listing.id) %></h2>
        </div>
    </div>
  </div>
  <% end %>
</div>
