<div class="text-center">
  <% @meme_creator_listings.each do |meme_creator_listing| %>
  <%= "This is a creator" %>
    <div class="card-meme_creator_listing">
      <%# <%= image_tag meme_creator_listing.photo %> %>
      <div class="card-infos">
        <div>
          <h2><%= meme_creator_listing.creator_name %></h2>
          <p><%= meme_creator_listing.description %></p>
        </div>
        <div class="card-bottom">
          <h2><%= link_to "More info ", meme_creator_listing_path(meme_creator_listing.id) %></h2>
        </div>
    </div>
  </div>
  <% end %>
</div>
