<p class="text-center">
  <%= image_tag @meme_controller_listing.photo, :class => "avatar-profile-xlarge" %>
</p>

<p class="text-center">
  <strong>Name:</strong>
  <%= @meme_controller_listing.name %>
</p>

<p class="text-center">
  <strong>Nationality:</strong>
  <%= @meme_controller_listing.nationality %>
</p>

<p class="text-center">
  <strong>Age:</strong>
  <%= @meme_controller_listing.age %>
</p>

<p class="text-center">
  <strong>Description:</strong>
  <%= @meme_controller_listing.description %>
</p>

<div class="text-center">
  <%= link_to 'Book this Meme Creator', new_meme_controller_listing_booking_path(@meme_controller_listing) %>
</div>
<div class="text-center">
  <%= link_to 'Back', meme_controller_listings_path %>
</div>
