<p class="text-center">
  <%= image_tag @meme_controller_listing.photo, :class => "avatar-profile-xlarge" %>
</p>

<p class="text-center">
  <strong>Name:</strong>
  <%= @meme_controller_listing.creator_name %>
</p>

<p class="text-center">
  <strong>Speciality:</strong>
  <%= @meme_controller_listing.speciality %>
</p>

<p class="text-center">
  <strong>Description:</strong>
  <%= @meme_controller_listing.description %>
</p>

<p class="text-center">
  <strong>Hourly Price:</strong>
  <%= @meme_controller_listing.hourly_price %>
</p>

<div class="text-center">
  <%= link_to 'Book this Meme Creator', new_meme_controller_listing_booking_path(@meme_controller_listing) %>
</div>
<div class="text-center">
  <%= link_to 'Back', meme_controller_listings_path %>
</div>
